@font-face {
    font-family: "Poppins";
    src: url("../../fonts/Poppins/Poppins-Medium.ttf");
}
.header-menu{
    position: fixed;
    top: 0;
    display: flex;
    padding: 11px 78px 11px 15px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color:white;
    box-shadow: 0px -5px 10px 0px #000000;
    z-index: 1030;
}
#burger-menu-icon{
    display: none;
    transition: .4s;
}
.header-logo img{
    width: 190px;
    transition: .4s;
}
.header-menu-bar{
    font-family: "Poppins";
    display: flex;
    font-size: 16px;
    align-items: center;
}
.header-menu-button{
    position: relative;
    margin-right: 42px;
}
.header-menu-button::after{
    content:"";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #6689ff;
    left: 0;
    bottom: -20px;
    transition: .2s;
    opacity: 0;
}
.header-menu-button:hover::after{
    opacity: 1;
    bottom: -10px;
}
.header-menu-button-share img{
    width: 24px;
    height: 24px;
}
.header-menu-button-share:hover img{
    filter: invert(65%) sepia(42%) saturate(6603%) hue-rotate(205deg) brightness(100%) contrast(103%);
}
#burger-menu{
    position: fixed;
    top: 47px;
    left: -270px;
    bottom: -54px;
    background-color: #fff;
    width: 270px;
    border: 1px solid #d7d7d7;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
    display: flex;
    flex-direction: column;
    z-index: 1029;
    transition: 0.5s;
}
.social{
    padding: 30px 0 30px 10px;   
}
.social i{
    padding-right: 10px;
    transition: .4s;
}
.social i:hover{
    color: #6689ff;
}
.menu-item{
    padding: 20px 0 20px 15px;
    margin-bottom: 5px;
    transition: .4s;
    font-family: 'Poppins';
}
.menu-item a{
    transition: .4s;
}
.menu-item:hover{
    background-color: #6689ff;
}
.menu-item:hover a{
    color: #fff;
}
.open-menu{
    left: 0 !important;
}
@media (max-width: 991px){
    .header-menu{
       justify-content: unset;
    }
    .header-menu-bar{
        display: none;
    }
    #burger-menu-icon{
        display: block;
    }
    .header-logo img{
        margin-left: 15px;
        width: 120px;
    }
}