@font-face {
    font-family: "Poppins";
    src: url("../../fonts/Poppins/Poppins-Medium.ttf");
    font-weight: 300;
}
.projects{
    margin-top: 70px !important;
    position: relative;
}
.projects-header{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Poppins";
}
.projects-header h2{
    font-size: 42px;
}
.projects-header p{
    margin-top: 20px;
    max-width: 520px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    background-image: url(../../img/quote-jean.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
    font-size: 14px;
    line-height: 1.71429;
    font-weight: 500;
    letter-spacing: .05em;
}
.projects-filter-button{
    display: none;
    background-color: transparent;
    border-color: #000;
    color:#000;
    margin: 20px auto;
    min-width: auto;
    cursor: pointer;
}
.projects-filter-button:hover{
    background-color: transparent;
    border-color: #6689ff;
    color:#6689ff;
}
.projects-filter{
    margin: 30px 0px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    line-height: 1;
    font-weight: 500;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-family: "Poppins";
    transition: .5s;
}
.projects-filter.button-pressed{
    visibility: visible;
    opacity: 1;
}
.projects-filter.button-pressed span:focus{
    background-color: #6689ff;
}
.projects-filter span{
    word-wrap: break-word;
    padding: 10px 0;
    width: 100%;
    color: #9b9b9b;
    transition: .4s;
    cursor: pointer;
}
.projects-filter span:hover{
    color:#6689ff;
}
.projects-filter-border{
    background-color: #9b9b9b;
    margin: 5px 0px;
    height: 15px;
    width: 1px;
}
.projects-items{
    display: grid;
    grid-template-columns: repeat(auto-fit,420px);
    column-gap: 10px;
    row-gap: 10px;
    justify-content: center;
    padding: 0 40px;
}
.project-item{
    overflow: hidden;
    height: 350px;
    font-weight: 500;
    font-family: "Poppins";
    margin: 10px 0px;
    position: relative;
    background-color: #f7f7f7;
}
.project-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .4s;
    transform: scale(1.1);
}
.project-item .gray{
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.03);
    transition: .4s;
}
.project-item-description{
    position: absolute;
    bottom: 0;
    background-color: #fff;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    line-height: 1.71429;
    transition: .4s;
 }
.project-item-header{
    display: flex;
    align-items: center;
}
.project-item-header img{
    width: 37px;
    height: 37px;
    margin-right: 30px;
    transition: .1s;
}
.project-item-header>div{
    cursor: pointer;
}
.project-item-header h5 a{
    color: #6689ff;
    font-size: 18px;
    letter-spacing: .024em;
    word-spacing: 0.05em;
    transition: .4s;
}
.project-item-header h5 a:hover{
    color: rgba(102, 137, 255, 0.5);
}
.project-item p{
    width: 100%;
    margin-top: 14px;
    letter-spacing: .05em;
    font-size: 14px;    
}
@media(max-width:992px){
    .projects-filter{
        visibility: hidden;
        opacity: 0;
        display: flex;
    flex-wrap: wrap;
    position: absolute;
    align-items: center;
    top: 30px;
    right: 35%;
    left: 35%;
    z-index: 5;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 17%);
    padding: 15px 0;
    transition: .4s;
    }
    .projects-filter-border{
        display: none;
    }
    .projects-filter-button{
        display: block;
    }
    .project-item-description p{
        display: none;
    }
}
@media (max-width:420px) {
    .projects-items{
        grid-template-columns: repeat(auto-fit,100%);
        padding-left: 20px;
        padding-right: 20px;
    }
    .projects-filter{
        font-size: 14px;
    }
}
@media (min-width:992px) {
    .project-item-description{
        background-color: #fff;
        position: absolute;
        opacity: 0;
        top: 0px;
        left: 0px;
        right: 40px;
        bottom: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px;
        line-height: 1.71429;
        transition: .4s;
     }
    .project-item:hover .project-item-description{
        opacity: 1;
        top: 20px;
        left: 20px;
        right: 20px;
        bottom: 20px;
        z-index: 1;
    }
    .project-item-header img:hover{
        filter: invert(58%) sepia(89%) saturate(2961%) hue-rotate(204deg) brightness(99%) contrast(105%);
    }
    .project-item:hover .gray{
        transform: scale(1);
    }
    .project-item:hover>img{
        transform: scale(1);
    }
}