.team{
    position: relative;
    font-family: "Poppins";
    text-align: center;
}
.team h2{
    font-size: 42px;
    font-weight: 500;
    margin-bottom: 40px;
}
.team .members{
    display: flex;
    flex-wrap: wrap;
}
.team .member{
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    text-align: left;
    max-width: 370px;
    margin-left: auto;
    margin-right: auto;
}
.team .member img{
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    transition: .4s;
}
.team .member:hover img{
    filter: none;
}
.team .member .caption{
    color: #ffffff;
    bottom: 10%;
    padding: 15px 6% 15px 18%;
    margin-left: -30px;
    position: absolute;
    left: 0;
    width: 80%;
    min-width: 300px;
    margin-left: -25px;
    transition: all .3s ease;
    z-index: 1;
    transition: .4s;
}
.team .member .caption::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(17, 17, 17, 0.5);
    transform: skew(10deg);
    transform-origin: 50% 100%;
    z-index: -1;
}
.team .member:hover .caption{
    margin-left: 0px;
}
.team .member .caption p{
    line-height: 1.5;
    color: #ffffff;
    letter-spacing: .025em;
    font-weight: 400;
}
.team .member .caption a{
    color: #ffffff;
    font-size: 21px;
    line-height: 1.71429;
    transition: .4s;
}
.team .member .caption a:hover{
    color: #6689ff;
}

